.recipe-method {
  display: block;
  resize: none;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0px solid #fff;
  border-radius: 0px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.recipe-method:focus {
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 0px;
}
